@{
    ViewData["Title"] = "Clients";
}

<div id="projects" class="main">
    <div class="main-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <button type="button" class="btn btn-blue">
            <i class="fa-solid fa-plus"></i>
            <span>Add Clients</span>
        </button>
    </div>
</div>