@{
	ViewData["Title"] = "Team Members";
}

<div id="projects" class="main">
    <div class="main-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <button type="button" class="btn btn-blue" data-type="modal" data-target="#add-project-modal">
            <i class="fa-solid fa-plus"></i>
            <span>Add Project</span>
        </button>
    </div>
</div>