<div class="side">
    <nav class="nav-links">
        <a asp-controller="Projects" asp-action="Index" class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/projects") ? "active" : "")">
            <i class="fa-duotone fa-solid fa-briefcase"></i>
            <span>Projects</span>
        </a>
        <a asp-controller="Admin" asp-action="Clients" class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/clients") ? "active" : "")">
            <i class="fa-duotone fa-solid fa-handshake"></i>
            <span>Clients</span>
        </a>
        <a asp-controller="Admin" asp-action="Members" class="nav-link @(Context.Request.Path.Value!.StartsWith("/admin/members") ? "active" : "")">
            <i class="fa-duotone fa-solid fa-user-group"></i>
            <span>Team Members</span>
        </a>
    </nav>
</div>
