@using Data.Enteties
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserEntity> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userPrincipal = HttpContextAccessor.HttpContext!.User;
    var user = await UserManager.GetUserAsync(userPrincipal);
    var fullName = user is null
        ? "Guest"
        : $"{user.FirstName} {user.LastName}";
}


<div id="account-container">
    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account">
        <img src="/images/users/user-template-male-green.svg" alt="template avatar">
    </button>
    <div id="account-dropdown" class="dropdown">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="/images/users/user-template-male-green.svg" alt="template avatar">
                <span>@fullName</span>
            </div>
        </div>
        <div class="dropdown-body">
            <div>
                <nav class="dropdown-options">
                    <div class="dropdown-option">
                        <label for="darkModeToggle" class="switch-label">
                            <i class="fa-duotone fa-solid fa-cog"></i>
                            <span>Dark Mode</span>
                        </label>
                        <label for="darkModeToggle" class="switch">
                            <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode">
                            <span class="slider"></span>
                        </label>
                    </div>
                </nav>
            </div>
            <div class="divider"></div>
            <form asp-controller="LogIn" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="dropdown-action">
                    <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </button>
            </form>
        </div>
    </div>
</div>
